/*-------------
commont styles
---------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
main{
    width: 80%;
}


/* horizontal styles */
/* .horizontal{
    display: flex;
    flex-direction: column;
} */
.hr-one{
    margin-left: 300px;
    margin-top: 100px;
    width: 1300px;
    border: 1px solid #f7f5f5;
} 


/* header styles */
.head-container{
    margin-left: 100px;
    margin-right: 150px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header{
    display: flex;
    justify-content: center;
}
header a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
}
.right> a:hover{
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 2px;
    border-radius: 8px;
}

/* Journey Starter Styles */
.Journey-section{
    margin-left: 150px ;
    margin-top: 50px;
    display: flex;
    align-items: center;

}
.description{
    margin-top: 70px;
}
.description h1{
    font-size: 52px;
}
.prebook a{
    text-decoration: none;
    color: #FFFFFF;
}
.prebook:hover{
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}
.prebook{
    font-size: 16px;
    text-decoration: none;
    background-color: #E02C6D;
    border: none;
    padding: 13px;
    border-radius: 41px;
}
.circle-photo{
    position: relative;
    left: 180px;
    top: 50px;
}
.main-camera{
    position: relative;
    left: 200px;
    bottom: 400px;
    width: 420px;
    height: 40px;
}

/* popular collection styles */
.popular-section{
    margin-top: 200px;
    margin-left: 180px;
}
.popular-section> h1{
    margin-left: 51%;
}
.collections{
    margin-left:25%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
    width: 50%;
}
.collection{
    height: 476px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.collection:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.collection img{
    width: 250px;
    height: 200px;
}
.collection-detail{
    margin: 14px;
}
.collection h4{
    font-weight: 400px;
}
.collection h3{
    font-weight: 500px;
}
.ratings{
    font-size: 14px;
    color: #787885;
}
.fa-star{
    color: #FFC014;
}
.fa-star-half-alt{
    color: #FFC014 ;
}
.next-page{
    margin-top: 50px;
    text-align: right;
    margin-right: 110px;
    margin-bottom: 50px;
}
.next-page a{
    text-decoration: none;
    font-size: 16px;
    color: #E02C6D;
}


/* footer styles */


footer{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #0A0826;
    color: #FFFFFF;
    font-weight: 700;
}
.footer h4{
    font-size: 14px;
    font-weight: 400;
}
.text{
    text-align: center;
}
.social a{
    margin: 16px;
    text-decoration: none;
    color: #FFFFFF;
}
.social{
    text-align: center;
}