/*-------------
commont styles
---------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
main{
    width: 80%;
}




/* header styles */
.head-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header{
    display: flex;
    justify-content: center;
    background-color: #0A0826;
}
header a{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 30px;
}
.left{
    margin-left: 120px;
}
.right{
    margin-right: 120px
}
.right> a:hover{
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 2px;
    border-radius: 8px;
}

/* Journey Starter Styles */
.Journey-section{
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    align-items: center;

}
.description{
    margin-top: 70px;
    margin-left: 50px;
}
.description h1{
    font-size: 52px;
}
.prebook a{
    text-decoration: none;
    color: #FFFFFF;
}
.prebook:hover{
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}
.prebook{
    font-size: 16px;
    text-decoration: none;
    background-color: #E02C6D;
    border: none;
    padding: 13px;
    border-radius: 41px;
}
.circle-photo{
    position: relative;
    left: 180px;
    top: 50px;
}
.main-camera{
    position: relative;
    left: 200px;
    bottom: 400px;
    width: 420px;
    height: 40px;
}
/* horizontal styles */
.horizontal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hr-one{
    margin-left: 350px;
    margin-top: 100px;
    width: 1300px;
    border: 1px solid #f7f5f5;
} 
.e-commerce img{
    padding: 20px;
}
.e-commerce{
    margin-left: 450px;
}
.hr-two{
    margin-left: 350px;
    width: 1300px;
    border: 1px solid #f7f5f5;
}

/* popular collection styles */
.popular-section{
    margin-top: 200px;
    margin-left: 180px;
}
.popular-section> h1{
    margin-left: 51%;
}
.collections{
    margin-left:25%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
    width: 50%;
}
.collection{
    height: 476px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.collection:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.collection img{
    width: 250px;
    height: 200px;
}
.collection-detail{
    margin: 14px;
}
.collection h4{
    font-weight: 400px;
}
.collection h3{
    font-weight: 500px;
}
.ratings{
    font-size: 14px;
    color: #787885;
}
.fa-star{
    color: #FFC014;
}
.fa-star-half-alt{
    color: #FFC014 ;
}
.next-page{
    margin-top: 50px;
    text-align: right;
    margin-right: 110px;
    margin-bottom: 50px;
}
.next-page a{
    text-decoration: none;
    font-size: 16px;
    color: #E02C6D;
}

/* session section starts */
.photo-session{
    width: 70%;
    display: flex;
    margin-left: 500px ;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
.photo-session img{
    margin-top: 50px;
    width: 390px;
    height: 220px;
    border-radius: 20px;
}
.session-text{
    margin: 100px;
}
.session-text a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 8px;
    border-radius: 10px;
}


/* footer styles */


footer{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #0A0826;
    color: #FFFFFF;
    font-weight: 700;
}
.footer h4{
    font-size: 14px;
    font-weight: 400;
}
.text{
    margin-top: 25px;
    text-align: center;
}
.social a{
        margin: 10px;
    text-decoration: none;
    color: #FFFFFF;
}
.social{
    text-align: center;
    margin-bottom: 25px;
}


/* ---------------------
 responsive styles
---------------------- */
@media only screen and (max-width:687px){
    /* common styles */
    body{
        margin: 0;
        padding: 0;
    }
    /* header section */
    .head-container{
        width: 100%;
        justify-content: center;
    }
    .left{
        margin: 0;
    }
    .right{
        display: none;
        justify-content: flex-end;
    }
    
    /* Journey section */
    .Journey-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        text-align: center;
        justify-content: center;
    }
    .description h1{
        font-size: 30px;
    }
    .photos{
        margin: 0;
    }
    .circle-photo{
        position: relative;
        left: 35px;
        top: 70px;
    }
    .circle-photo img{
        width: 257px;
        height: 257px;
    }
    .main-camera{
        position: relative;
        left: 45px;
        bottom: 160px;        
    }
    .main-camera img{
        width: 202px;
        height: 190px;
    }
    /* horizontal styles */
    .horizontal{
        width: 100%;
        margin-left: 50px;
    }
    hr{
        display: none;
    }
    .e-commerce{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 50px;
    }

    /* popular section styles */
    .popular-section{
        width: 100%;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .popular-section> h1{
        margin-left: 110px;
    }
    .collections{
        margin-left:25%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap:30px;
        width: 50%;
    }

    /* session section starts */
.photo-session{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.photo-session img{
    margin: 0;
    padding: 0;
    width: 305px;
    height: 188px;
    border-radius: 20px;
    justify-content: center;
}
.session-text{
    margin: 0;
}
/* Footer styles */
/* footer styles */


footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #0A0826;
    color: #FFFFFF;
    font-weight: 700;
}